h1 + p { background-color: #222; color: #fff;}
/* 인접 선택자 (adjavent selector) 
똑같은 이름의 p태그가 있어도 첫번째 하나만 선택이 되고
h1과 p사이에 다른 태그가 끼면 선택이 안된다. */

h1 ~ p { color: blue; } /* 형제 선택자 (sibling selector)*/
/* h1 바로 밑에 있는 p 전부~ (자식은 안되고 오로지 형제만 선택) */

.color-blue { color: blue;}