body {padding: 16px 32px;}

section {
    margin: 12px 0; /* 블락끼리의 마진은 겹친다 */
    padding: 50px;
    background-color: bisque;
    border-radius: 12px;
}
section.plant {background-color: lightgreen;}

ul {position: relative;}
.soldout {display: inline-block;}
.soldout::before {
    position: absolute;
    content: 'Sold Out';
    left: -12px;
    background-color: rgb(242, 84, 84);
    font-weight: bold;
    font-size: .5em;
    padding: 3px;
    color: #fff;
}

.hidden {display: none;}
.organic::after {content: '(유기농)';}